
{% extends 'layout.html' %}
{% load static %}
{% block content %}


<!-- Home -->
<div class="home">
    <div class="apresentation-container">
        <div class="apresentation">
            <h1 class="typing">Olá, Eu sou o Alexandre Cruz!<h1>
            <h3 style="color:gray">Desenvolvedor Full-Stack</h3>
        </div>
    
        <div class="button-container">
            <button class="button">Download CV</button>
            <button class="button2">Entrar em contato!</button>
        </div>
    </div>


    <div class="bg-img responsive">

    </div>

</div>
<hr>

<div class="projeto" id="projeto">
  
    <h2 class="center">PROJETOS</h2>
    <div class="projeto-container">

        <div class="projeto-miniatura-img">
            <img src="{% static 'portfolio_web/img/miniaturaprojeto.png'%}" alt="" class="src">
            
            <div class="projeto-miniatura-text">
                <h4 class="data-projeto">12 de janeiro de 2023</h4>
                <button class="button_vermais">Ver mais</button>
            </div>
        </div>





    </div>
    
</div>

<hr>

<div class="sobre" id="sobre">
<h2 class="center">SOBRE</h2>
<p class="sobre-p">Desenvolvedor Full-stack. Atualmente estou cursando Sistemas de Informação na Faculdade Cesgranrio e buscando certificações na area de desenvolvimento web. Tenho experiência em html, css, javascript, framework Django, python e estudando react. Apaixonado por novos desafios e desenvolvimento estou aberto a novos projetos</p>
</div>

<hr>
<div class="habilidades" id="habilidades">
    <h2 class="center">HABILIDADES</h2>
    <div class="habilidade-container">
    <div class="habilidade-card">
        <h3>HTML</h3>
    </div>
    <div class="habilidade-card">
        <h3>JAVASCRIPT</h3>
    </div>
    <div class="habilidade-card">
        <h3>CSS</h3>
    </div>
    <div class="habilidade-card">
        <h3>DJANGO FRAMEWORK</h3>
    </div>
    <div class="habilidade-card">
        <h3>PYTHON</h3>
    </div>
    <div class="habilidade-card">
        <h3>REACT</h3>
    </div>
</div>
<hr>
<div class="contatos" id="contato">
    <h2 class="center">CONTATOS</h2>
    <div class="container-contato">
        <div class="contato-item">
            <h4>E-MAIL</h4>
            <p>alexandrecruzprimeiro@gmail.com</p>
        </div>
        <div class="contato-item">
            <h4>TELEFONE</h4>
            <p>(21) 9 9692-4975</p>
        </div>
        <div class="contato-item">
            <h4>LINKEDIN</h4>
            <p>Alexandre dos santos cruz</p>
        </div>
        <div class="contato-item">
            <h4>GITHUB</h4>
            <p>alexandrecruzdev</p>
        </div>
    </div>
    
</div>
</div>
{% endblock content %}