{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="{% static 'portfolio_web/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body class="body">
    
    <div id="nav">
        <div id="logo"><h2>ALEXANDRE CRUZ</h2></div>
        <div id="container-nav-list">
            <a href=""><li>HOME</li></a>
            <a href="#sobre"><li>SOBRE</li></a>
            <a href="#contato"><li>CONTATO</li></a>
            <a href="#projeto"><li>PROJETOS</li></a>
            <a href="#habilidades"><li>HABILIDADES</li></a>
        </div>
    </div>
    <hr>
    {% block content %}
    
    {% endblock content %}
    <script src="{% static 'portfolio_web/js/projetos.js' %}"></script>
  </body>
</html>